* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 70px;
  background-color: #EC715F;
  width: 100%;
  /* display: flex; */
}

div {
  padding: 0 30px;
}
a{
  text-decoration: none;
  color: #FAFAFA;

}
.nav-list{
  list-style:none;
}
.logo{
  width: 170px;
  height: 70px;
  margin: 30px 0 10px 180px;
}
.header__flex {
  display: flex;
  height:60px;
  align-items: center;
}
.header__flex nav {
  margin-left: 500px;
}
.header__flex ul {
  display: flex;
}
.header__flex ul li {
  padding: 30px;
}

.center{
  height: 650px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-size: cover;
}
.text-image {
  position: relative;
  margin: 0;
}


.text-image h1 {
  position: absolute;
  top: 25%;
  left: 35%;
  font-size: 60px;
  color: #ffffff;
}
.text-image h4 {
  position: absolute;
  top: 42%;
  left: 37%;
  font-size: 20px;
  color: #ffffff;
}

.portfolio{
  /* width: 100%; */
  background-color: #ECEFF1;
  text-align: center;
  padding-bottom: 90px;
}
.border{
  border-bottom: 3px solid #EC715F;
  width: 70px;
  margin: 0 auto;
}
.pf_center{
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  padding: 90px 0 8px 0; 
}
.pf-chra{
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
}
.pf-image{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.blog-image{
  width: 300px;
  height: 250px;
  margin:0 10px 10px 0;
}

.feature{
  text-align: center;
}
.f-title{
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  padding: 90px 0 8px 0; 
}
.f-char{
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
}
.icon{
  font-size: 60px;
  color: #000000;
}
.f-subtitle{
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.f-subchar{
  padding-bottom: 90px;
}
.contact{
  text-align: center;
}
.icon-2{
  font-size: 60px;
  color: #000000;
}
.mail{
  font-size: 20px;
  font-weight: bold;
}
.sns{
  font-size: 20px;
  font-weight: bold;
}
footer{
  height: 60px;
  background-color: #EC715F;
  position: relative;/*親要素relativeで範囲決める*/
}
.foot-chra{
  font-size: 16px;
  color: #FAFAFA;
  position: absolute;/*absoluteで動かす*/
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}